
#nav-bar {
  color: white;
  text-align: center;
  position: sticky;
  top: 150px;
  z-index: 30;
}

.navbar
{
  color: white;
  padding: 10!important;
  height: 20px;
}

.navbar-nav li a {
  color: white !important;

  line-height: 1;
  font-weight: 600;
  float: right;
  text-align: left; 
}
.navbar-nav li a:hover {
  color: hotpink !important;
  line-height: 1;
  font-weight: 600;
  float: right;
  text-align: left; 
}


.fa-bars{
  top:0;
  color: white;
}
.navbar-toggler {
  justify-content: left;
  position: relative;
  outline: none;
} 


.bs-example{
  margin: 20px;
  z-index: 34;
}
.modal-dialog iframe{
    margin: 0 auto;
    display: block;
z-index: 35s;
  }

/* .hero {
  height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 3;
}
.hero-title {
  position: absolute;
  text-align: center;
  z-index: 4;
  color:white;
  font-size: 80px;
  font-weight: bolder;
} */
/* #hero video {
  
  top: 0;
  left: 0%;
  min-width: 50%;
  min-height: 50%;
  width: 100%;
  height: 100%;
  object-fit:cover;
  z-index: 1;
} */


     /* .video-background
     {
      object-fit: cover;
      position: relative;
      width: 20%;
      min-height: 100vh;
      background-color: rgba(0, 0, 0, 0.2) ;
     } */
       body{
      width: 100%;
      height: 100vh;
      background-color: #ffffff;
      font-family: gothambook;
      position:absolute;
      top: 0px;
      bottom: 0px;
      }

     header {
      position: sticky;
      background-color: black;
      height: 75vh;
      min-height: 35rem;
      width: 100%;
      overflow: hidden;
    }
    
    header video {
      position: fixed;
      top:55%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    
    header .container {
      position: relative;
      z-index: 2;
    }
    
    header .overlay {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.2;
      z-index: 1;
    }
    .container{
      top:25%;
      position: relative;
      justify-content: center;
      z-index: 30;
    }